<html>
    <head>
    <title>Covid Tracker</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
    <!-- Bootstrap core CSS -->
    <link href="/docs/4.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous">
    <!-- Angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

    <link rel = "stylesheet" href = "../static/styles.css">
    </head>
    <body>
        <!-- navbar-->
        <nav class="navbar navbar-expand-lg navbar-light bg-info">
            <h4>ITA COVID-Tracker</h4>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item" style = "padding-left:600px;">  
                        <!-- Add active on each page manually -->
                        <a class="nav-link" href="/">Home</a>
                    </li> 
                    <li class="nav-item" style = "padding-left:10px;">  
                        <a class="nav-link active" href="/assessment">Assess Yourself</a>
                    </li> 
                    <li class="nav-item" style = "padding: left 10px;">  
                        <a class="nav-link" href="/">Symptoms</a>
                    </li> 
                    <li class="nav-item" style = "padding-left:10px;">  
                        <a class="nav-link" href="/">Helpline</a>
                    </li> 
                </ul>
            </div>
        </nav>
        
        <div id = "success" class="alert alert-success" style = "display:none"> 
            Risk level = 0%
        </div>
          
        <div id = "alert" class="alert alert-info" style = "display:none">
            Risk level = 25%
        </div>
          
        <div id = "warning" class="alert alert-warning" style = "display:none">
            Risk level = 75%
        </div>
          
        <div id = "danger" class="alert alert-danger" style = "display:none">
            Risk level = 100%
        </div>
        
        <div style = "margin-left: 25%;margin-top: 2%; width: max-content;;" class="card-columns">
            <div class="card bg-light">
                <div class="card-body text-center">
                    <form onsubmit="return assessFunction();">
                        <label> <b>Self assessment Form </b> </label>
                        <hr>
                        <p>Have you come in contact with any COVID-19 positive patient in the last 14 days ? </p>
                        <input type="radio" id = "q1" name="q1" value="yes" required> YES
                        <input type="radio" id = "q1n" name="q1" value="no" required> NO
                        <hr>
                        <p></p>
                        <p>Do you have any COVID-19 symptom? </p>
                        <input type="radio" id = "q2" name="q2" value="yes" required> YES
                        <input type="radio" id = "q2n" name="q2" value="no" required> NO
                        <hr>
                        <p></p>
                        <p>Is there any COVID-19 postive patient around your locality? </p>
                        <input type="radio" id = "q3" name="q3" value="yes" required> YES
                        <input type="radio" id = "q3n" name="q3" value="no" required> NO
                        <hr>
                        <button type="submit" class="btn btn-success">Submit</button>
                    </form>
                </div>
            </div>
            
        </div>
    </body>
    <script>
        function assessFunction() {
            var cnt = 0;
            if(document.getElementById('q1').checked) cnt ++;
            if(document.getElementById('q2').checked) cnt ++;
            if(document.getElementById('q3').checked) cnt ++;
            if(cnt == 0) {
                document.getElementById('success').style.display = "";
            }
            else if(cnt == 1) {
                document.getElementById('alert').style.display = "";
            }
            else if(cnt == 2) {
                document.getElementById('warning').style.display = "";
            }
            else if(cnt == 3) {
                document.getElementById('danger').style.display = "";
            }
            return false;
        }
    </script>
</html>